[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pycodestyle = "*"
autopep8 = "*"
pylint = "*"
requests = "*"
lxml = "*"
unidecode = "*"

[requires]
python_version = "3.9"
